body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenuto{
    margin-top: 10%;
}
h2, .error{
    font-family: 'Courier New', Courier, monospace;
}
.error{
    color: red;
}

input{
    height: 15%;
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    margin: 0;
    outline: none;
}

.btn-login{
    height: auto;
    background-color: #0e3b6b;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}


.navigate{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3vw;
    margin: 0;
    color: #0e3b6b;
}
.navigate:hover{ 
    color: #526274;
} 

@media(max-width: 650px) {
    #contenuto{
        margin-top: 20%;
    }
}

@media(max-width: 720px){
    .navigate{
        font-size: 90%;
    }
}