body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    width: 100%;
}

header{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

#container-header {
    width: 100%;
    position: relative;
    display: inline-block;
}

#text-box-header {
    margin: 0px;
    position: absolute;
    text-align: center;    
    width: 100%;
    top: 50%
}

#text-box-header h2{
    margin: 0px;
    display: inline-block;
    font-family: "PlayfairDisplay";
    font-size: 4vw;
    color: #FFFFFF; 
}

#overlay{
    background-color: rgba(255, 218, 196, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#img-header{
    width: 100%;
    display: block;
    height: auto; 
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#lista-cocktail-preferiti{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.scheda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    width: 25%;
    height: auto;
    background-color: #0e3b6b17;
    box-sizing: 1px;
	border: solid #0e3b6b17;
	border-radius: 10px;
	-webkit-box-shadow: 23px 19px 15px 5px #0e3b6b17;
	-moz-box-shadow: 23px 19px 15px 5px #0e3b6b17;
	box-shadow: 23px 19px 15px 5px #0e3b6b17;
}
.div-like{
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.div-like img{
    width: 100%;
}
.titolo-scheda{
    font-family: "PlayfairDisplay";
    font-size: 2vw;
}
.titolo-scheda, .contenuto-scheda p{
    margin-left: 10px;
}
.img-scheda{
    width: 90%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(231, 99, 23);
    color: #ffffff;
}

#div-instagram{
    position: fixed;
    z-index: 1;
    right: 2%;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#div-instagram img{
    width: 6vw;
    height: auto;
    margin-left: 10px;
}

.hidden{
    display: none;
}

.visible{
    display: inline;
}

.visible-flex{
    display: flex;
}

a{
    margin: 5%;
}

@media(max-width: 820px) {
    article {
        width: 100%;
    }
    #text-box-header h2{
        font-size: 5vw;
    }
    .titolo-scheda{
        font-size: 4vw;
    }
    .img-scheda{
        width: 80%;
    }
    .scheda{
        width: 40%;
    }
    #div-instagram img{
        width: 10vw;
    }
}

@media(max-width: 450px) {
    .scheda{
        width: 50%;
    }
    #div-instagram img{
        width: 15vw;
    }
}